*{
  box-sizing:border-box;
  }
  .main{
      float: left;
      min-height:100%;
      min-width:100%;
      margin: 0px;
      position:relative;
  }
  header{
    text-align: center;
    font-size: 35px;
  background-color: darkgray;
  height:136px;
  width:100%;
  padding: 3px;
  }
.sticky {
  position: fixed;
  top: 0;
  width: 90%;
}
.sticky + #cent {
  padding-top: 102px;
}

  .option{
    background-color: blueviolet;
    border-radius: 5px;
    width: 100%;
    height: 50px;
  }
  #img{
    display: block;
    max-width:230px;
    max-height:85px;
    width: auto;
    height: auto;
    float:left;
  }
  #menu{
  color:white;
  text-decoration: none;
  padding:10px;
  font-size:large;
  }
  #bottom{
    color:white;
    text-decoration: none;
    padding: 10px;
  font-size:large;
  
  }
  #cent{
  border: 1px ;
  height:1000px;
  width:100%

  }
  #img_to_top{
  max-width: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
    }  
  footer{
  padding: 10px;
  color: white;
    
  }
  
  strong{
    font-size: 5vm;

  }

